
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(62, 61, 61); 
    color:#fff;
}.container {
    width:400px;
}


#progress .times,
.card-footer,
.volume-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.volume-container i {
    margin-right: 5px;
}
li.playing {
    background-color: #0b5eb7;
    color:#fff;
}
.card-footer{
    background-color: rgb(43, 41, 41);
    color:#fff;
}
.containerin{
    background-color: rgb(62, 61, 61); 
    color:#fff;
}